/* ---------- GENERAL ELEMENTS ---------- */
::-webkit-scrollbar, .list-scroll::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb, .list-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #074a1f;
}
::-webkit-scrollbar-track, .list-scroll::-webkit-scrollbar-track{
    background: #fff;
}


body {
    margin: 0;
    color: #676767 !important;
    background: #fdfdfd !important;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "header" "content";
    height: 100vh;
}
.actions {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: "icon title user";
    justify-items: right;
    position: fixed;
    width: 100%;
    height: 60px;
    background: #f4f4fc;
    border-bottom: 1px solid #f7a5a5;
    z-index: 30;
}
.content {
    grid-area: content;
}
.dos-grid {
    display: grid;    
    justify-items: center;
}
.dos-grid-card {
    display: grid;
    grid-template-columns: 1fr auto;
}
a {
    text-decoration: none !important;
}
h2 {
    font-size: 1.3rem;
}
.red {
    color: #ee544e;
}
.red:hover {
    color: #fff;
}
.yellow {
    color: #fec833;
}
.yellow:hover {
    color: #d7eefe;
}
.blue {
    color: #0152a9;
}
.green {
    color: #074a1f;
}
.info {
    background: #f4f4fc;
    border-radius: 5px;
}
.font-title {
    font-size: 1rem;
}
button {
    outline: none !important;
}
.btn-crud {
    background: none;
    border: none;
}
.nowgrap {
    white-space: nowrap;
}
.img-user {
    background: linear-gradient(rgba(0, 0, 0, 0.87),rgba(2, 11, 21, 0.84)), url('../images/user.jpg') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    padding: 2rem;
}


/* ---------- MODAL - CLUB ---------- */
.modal-days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
}
.modal-days-all {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: left;
}

/* ---------- MENU ---------- */
.icon-menu {
    cursor: pointer;
    padding: 0 1rem;
    background: #003b7b;
}

.menu {
    width: 200px;
    height: 100%;
    grid-area: menu;            
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    box-shadow: rgb(160, 160, 160) 0 0 15px -5px;
    transition: all .6s ease-in-out;   
    z-index: 100;   
    background: linear-gradient(#f4f4f5, #fdfdfd);
}
.menu.active {
    transform: translateX(0);
}
.close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.logo {
    padding: 1.5rem 1rem;
    text-transform: uppercase;
}
.menu nav {
    width: 100%;
}
.menu nav ul, ul {
    padding: 0 !important;
    list-style-type: none !important;
}
.menu nav ul li {
    padding: 1rem 2rem;
    letter-spacing: 1px;
}
.menu nav ul li:hover {
    cursor: pointer;
    background: #e6e6ec;
}
.menu nav ul li:hover a>svg {
    transform: rotate(90deg);
}

.nav-item  {
    list-style-type: none !important;
}

.admin {
    list-style-type: none !important;
    text-align: center;
    padding-bottom: 2rem;
}
.register {
    background-image: linear-gradient(to right, #0c394f, #286a8a);
    color: #f4f4f5;
}

/* ---------- CONTENT ---------- */
.content>section {
    height: 100%;
    min-height: 100vh;    
}
.center {
    display: grid;
    place-items: center;
}
.title {
    position: sticky;
    top: 60px;
    background: #fdfdfd;
    padding: 1rem 1rem;
    z-index: 50;
}
/* ---------- HOME - STEPS ---------- */
.accordion {
    width: 91%;
    justify-self: right;
    margin: auto;
    margin-right: -4rem;
}
.step-img {
    background: linear-gradient(rgba(0, 0, 0, 0.56),rgba(1, 19, 10, 0.92)), url('../images/home.jpg') no-repeat;
    background-position: center;
    background-size: 100vh 100%;
    height: 100%;
}

/* ---------- LOGIN ---------- */
.login {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 10px 2px #000;
    margin: auto;
    color: #fff;
}
.login-img {
    grid-column: 1 / 2;
    width: 400px;
    height: 500px;
}
.img-login {
    background: url('../images/register.jpg') no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.login-form {
    grid-column: 2 / 3;
    background-image: linear-gradient(to right, #0c394f, #286a8a);
    padding: 1rem;
    margin: -1rem 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #000;
    display: grid;
    align-items: center;
}
.input-user {
    text-align: center;
    margin: 1em auto;
    outline: none;
    border-radius: 15px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0px 0px 8px 0px #000;
}
.login-btn {
    background: #17a279;
    border: none;
    border-radius: .5rem;
    min-width: 10rem;
    width: auto;
    height: 3em;
    box-shadow: 0 1px 10px #000;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.login-admin {
    background-image: linear-gradient(to right, #e43e62, #7b1128);
}
.img-admin {
    background: url('../images/admin.jpg') no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

/* ---------- CARD CLUB ---------- */
.main-club {
    display: grid;
    grid-template-columns: 1fr;
}
.card-club {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    overflow: hidden;
    position: relative;
    padding: 1rem;
}
/* IMG Card */
.card-img {
    grid-row: 1 / 3;
    grid-column: 1;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-img::before {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0b74857a 60%, #ffffff 90%);
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
}
/* Info Card */
.card-info {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    align-items: end;
    z-index: 3;
}
.txt-right {
    justify-self: right;
    padding-right: 1rem;
    font-size: .7rem;
}
/* More info Card */
.club-open {
    grid-row: 1 / 3;
    grid-column: 1;
    background: rebeccapurple;
    clip-path: circle(2px at 50%);
    transition: .3s;
    z-index: -1;
}
/*
.card-club:hover .club-open {
    transition: .5s;
    background: green;
    z-index: 7;
    clip-path: circle(100% at center);
}
*/
/* Action Card*/
.card-actions {
    color: #e4eaeb;
    grid-row: 1;
    grid-column: 1;
    z-index: 5;
}
/* ---------- END - CARD CLUB ---------- */

/* ---------- RESERVATIONS ---------- */
.reserve-img {
    background: linear-gradient(rgba(0, 0, 0, 0.81),rgba(5, 28, 47, 0.73)), url('../images/pista.jpg') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    padding: 2rem;
}
.list-scroll {
    overflow-y: scroll;
    height: calc(100vh - 8.5rem);
    padding: 0 1rem;
}
.reservation-content {
    margin: 1rem 0;
    padding: .5rem;
    border-radius: 4px;  
    border-left: 5px solid #7f79a7;
    background: linear-gradient(to right, #eceafb, #fdfdfd);
}
.cancelled-reservation {
    border-left: 5px solid #ba3132;
    background: linear-gradient(to right, #ffd9d9, #fdfdfd);
}
.pending-reservation {
    border-left: 5px solid #e4ad4c;
    background: linear-gradient(to right, #fff48f94, #fdfdfd)
}
.success-reservation {
    border-left: 5px solid #0f9840;
    background: linear-gradient(to right, #d7ffdb, #ffffff);   
}
.cancelled {
    color: #ba3132;
}
.pending {
    color: #c58d2a;
}
.success {
    color: #066d2b;
}

.reservation-content>h3, .info-reserve>h3 {
    margin: .5rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}
.reservation-content>h4, .info-reserve>h4 {
    margin: .5rem 0;
    font-size: 1rem;
}
.reservation-content span {
    font-size: .8rem;
}

.reservation-data {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    margin-top: .5rem;
    border-top: 1px solid gray;
}
.reservation-right {
    justify-self: right;
    float: right;
}

/* State of the reservation */
.cancelled-reserve {
    background: linear-gradient(180deg, #ffffff7a 80%, #a3000063 100%);
    border: 1px solid #a30000fa;
}
.pending-reserve {
    background: linear-gradient(180deg, #ffffff7a 80%, #ffeb3b94 100%);
    border: 1px solid #d07c00;
}
.reserved {
    background: linear-gradient(180deg, #ffffff7a 80%, #139a4391 100%);
    border: 1px solid #074a1f;
}


@media (min-width: 900px) {
    h2 {
        font-size: 2rem;
    }
    .title {
        padding: 1rem 3.5rem;
    }
    .font-title {
        font-size: 3rem;
        font-weight: 300;
    }
    .main {
        grid-template-columns: 200px 1fr;
        grid-template-areas: "menu header" "menu content";
    }
    .dos-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: unset;
    }
    .main-club {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* ---------- MENU ---------- */
    .icon-menu, .close-menu, .logo-responsive {
        visibility: hidden;
    }
    .menu {
        transform: translateX(0);
    }
    .logo {
        font-size: 2rem;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
    
    /* ---------- DASHBOARD ---------- */
    .dashboard {
    }
    .dashboard:after {
        display: grid;
        content: '';
        clear: both;
    }    
    .dashboard-content {
        width: 60%;
        float: left;
    }
    .dashboard-list {
        position: sticky;
        top: 130px;
        float: right;
        width: 31%;
    }

    /* ---------- LOGIN ---------- /
    
    .login {
        display: grid;
        grid-template-columns: 1fr 2fr;
        position: relative;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px #000;
        margin: auto;
    }
    .login-img {
        grid-column: 1 / 2;
        background: url('../images/register.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        width: 400px;
        height: 500px;
    }
    .login-form {
        grid-column: 2 / 3;
        background: #f0edf8;
        padding: 1rem;
        margin: -1rem 0;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px #000;
        display: grid;
        align-items: center;
    }
    .input-user {
        text-align: center;
        margin: 1em auto;
        outline: none;
        border-radius: 15px;
        transition: 0.2s;
        background: url() no-repeat;
        background-position: .5rem;
        background-size: 2em;
        box-shadow: 0px 0px 8px 0px #000;
    }*/
}