body {
    margin: 0;
    color: #616161;
    background: #f7f7f7;
}
.main {
    width: 15%;
    float: left;
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
}
.content {
    float: right;
    width: 85%;
    position: relative;
}
a {
    color: #546e7a;
}

/* ---------- MENU ---------- */
.logo {
    margin: auto;
    font-size: 2rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.main>nav {
    margin: auto;
}
.menu {
    list-style: none;
    text-align: right;
    line-height: 3rem;
}
.menu>li a {
    text-decoration: none;
}
.menu>li a.active {
    border-right: 2px solid red;
    padding-right: 6px;
}
.admin {
    margin: auto;
    margin-bottom: 1rem;
}

/* ---------- CONTENT ---------- */
.content>section {
    height: 100vh;
    display: grid;
}

.info_home {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://4.bp.blogspot.com/-oQ89uVGKBxM/WSqO1ncRCDI/AAAAAAAAAz0/Byto9jIhSMEeCpq5SRaY-ht-fLvRm4_kwCK4B/s1600/SimplePolyStadiumKit_screenshot01.png) no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #868b8e; /* #878c90;*/                
    color: #fff;
}
.info_home>div {
    margin: auto;
    width: 80%;
    text-align: center;
}

.info_app {
    grid-template-columns: 1fr 1fr;
}
.text_app {
    margin: auto;
}
.text_app>h2 {
    font-size: 3rem;
    color: #2c2c2c;
    margin: 2rem;
}
.info {
    text-align: right;
    margin: 2rem;
}
.info_img {
    /*background: #166732;*/
    margin: auto;
}